<!DOCTYPE html>
<html lang = "eng">
    <head>
        <meta charset = "utf-8">
        <title>Portfolio</title>
        <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1 class="display-1">Asbin Khatiwada</h1>
            <p class="lead">This is the portfolio of Asbin Khatiwada</p>
            <hr class="my-4">
            {% for a in projects %}
            <br>
              <strong class = "strong">{{a.title}}</strong>
              <h4 class = "lead">{{a.description}}</h4>
             <img src = "{{a.img.url}}"  height = "200px" height = "250px" alt = "This is the image of Nirmala Khatiwada" title="Nirmala Khatiwada"> 
             {% if a.url %}
              <a href = "{{a.url}}" target = "_blank">Link</a>
              <br>
             {% endif %}
            {% endfor %}
            

        </div>
    </body>
    </html>