{% extends 'portfolio/base.html' %}
{% block content %}
<h1 class="display-1">Asbin Khatiwada</h1>
<p class="lead">This is the portfolio of Asbin Khatiwada</p>
<div class="jumbotron text-center">
    <hr class="my-4">
    {% for a in projects %}
    <strong class="strong">{{a.title}}</strong>
    <h4 class="lead">{{a.description}}</h4>
    <img src="{{a.img.url}}" height="200px" height="250px" alt="This is the image of Nirmala Khatiwada"
        title="Nirmala Khatiwada">
    {% if a.url %}
    <a href="{{a.url}}" target="_blank">Link</a>
    <br>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
