{% extends 'portfolio/base.html' %}
{% block body %}
<div class="container-fluid">
    <h1 class="jumbotron text-center">Blog section</h1>
    <h3 class="text-center">Asbin has written <span>{{contexts.count}}</span> numbers of
        blog{{counting.count|pluralize}}</h3>
    <br>
    {% for a in contexts %}
    <a href="{% url 'blog:detail' a.id %}">
        <h2 class="text-left text-success ">{{a.title}}</h2>
    </a>
    <h6 class="text-left text-primary">{{a.date|date:'j M Y'}}</h6>
    <p class="strong">{{a.description|truncatechars:50|safe}}</p>
    {% endfor %}
</div>
{% endblock %}
